language: cpp
matrix:
    include:
      - os: linux
      - os: osx

before_install:
  - if [ $TRAVIS_OS_NAME == linux ]; then mkdir cmake-download &&
    cd cmake-download &&
    curl -O https://cmake.org/files/v3.10/cmake-3.10.0-rc5-Linux-x86_64.sh &&
    bash cmake-3.10.0-rc5-Linux-x86_64.sh --skip-license &&
    cd .. fi
  - if [ $TRAVIS_OS_NAME == osx ]; then brew upgade cmake fi
script:
  - cmake . && make
