language: cpp
matrix:
    include:
      - os: linux
      - os: osx
addons:
    apt:
        packages:
            - xorg-dev
            - cmake
before_install:
  - if [ $TRAVIS_OS_NAME == osx ]; then brew upgrade cmake; fi
script:
  - cmake . && make
